@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
	--primary-color: #f6f3f3;
	--secondary-color: #ffff;
	--button-hover-color: #ff7f50;
	--font-color: #212121;

	--font-orbitron: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: var(--font-orbitron);
}

body {
	width: 100dvw;
	min-height: 100dvh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background: var(--primary-color);
}

.game {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.game__container {
	width: 96%;
	max-width: 500px;

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4, auto);
	gap: 9px;

	border-radius: 12px;
}

.game__results {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--secondary-color);
	border-radius: 12px;
	padding-bottom: 0.3rem;
}

.game__results h2 {
	font-size: clamp(1.3rem, 3vw, 1.6rem);
	text-align: center;
	font-weight: 700;
}

.game__statistics {
	width: 96%;
	margin: 0.3rem auto;
	padding: 1rem;

	background: var(--primary-color);
	border-radius: 12px;
	box-shadow: inset 2px 1px 15px rgba(0, 0, 0, 0.2);
}

.game__stat {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.3rem;
}

.game__current-play {
	background: var(--secondary-color);
	width: 100%;
	padding: 02rem 1rem;
	border-radius: 12px;

	grid-row: span 2 / span 2;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
}

.game__choice {
	width: 100%;
	height: 200px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
}

.game__choice p {
	align-self: center;
	font-size: clamp(2rem, 3dvw, 2.5rem);
	font-weight: 800;
}

.game__choice--user,
.game__choice--computer {
	width: 120px;
	height: 120px;
}

.game__choice-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.game__choice--user {
	transform: rotate(90deg);
}

.game__choice--computer {
	transform: rotate3d(1, 1, 0, 180deg);
}

.game__current-result {
	width: 96%;
	height: 60px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--primary-color);
	box-shadow: inset 4px 1px 10px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
}

.game__winner {
	font-size: clamp(1.3rem, 3dvw, 1.7rem);
	font-weight: 700;
	text-transform: uppercase;
}

.game__choices {
	width: 100%;
	height: 90px;
	padding: 0.3rem;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background: var(--secondary-color);
	border-radius: 12px;
}

.game__button {
	width: 70px;
	height: 70px;
	padding: 0.5rem;

	display: grid;
	place-content: center;

	border: none;
	border-radius: 50px;
	background: var(--primary-color);

	cursor: pointer;
	transition: all 0.3s ease-in;
}

.game__button:hover {
	box-shadow: inset 100px 0px 6px var(--button-hover-color);
}

.game__button-image {
	width: 90%;
	height: 90%;
	object-fit: contain;
	transition: all 0.3s ease-in;
}

.game__button:hover .game__button-image {
	transform: rotate(30deg);
}

.footer {
	width: 100%;
	text-align: center;
	padding: 1rem;
}

.footer__text {
	font-size: 1rem;
}

.footer__link {
	text-decoration: none;
	color: var(--button-hover-color);
	font-weight: 600;
}
